@font-face {
  font-family: "Intro";
  src: url("~/static/fonts/Intro-Book.woff2") format("woff2"),
    url("~/static/fonts/Intro-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: url("~/static/fonts/Intro-Bold.woff2") format("woff2"),
    url("~/static/fonts/Intro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neucha";
  src: url("~/static/fonts/Neucha.woff2") format("woff2"),
    url("~/static/fonts/Neucha.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
