// Colors
$Black_W: #fff;
$Black_100: #edf0ee;
$Black--200: #e2e4e1;
$Black_500: #79807d;
$Black_700: #47504c;
$Black_900: #000000;

$Green_50: #e9f8e3;
$Green_100: #d0edc4;
$Green_200: #bfe6ae;
$Green_300: #9fd987;
$Green_400: #66ae48;
$Green_500: #32930b;
$Green_600: #2e7113;

$Spec---250s: #c5e5b8;
$Spec---500s: #9bc88a;
$Spec---700s: #77a565;
$Spec---800s: #4a6d3c;

$Red--400: #e35117;
$Red_500: #b83f10;

$Green-background: #c0ccc1;
$Green-background-70: rgba(#d0edc4b2, 0.7);

// Fonts
$Font-neucha: "Neucha", cursive;
$Font-intro: "Intro";

// Box-shadow

$global-shadow-inset: 1px 1px 1px rgba(255, 255, 255, 0.5),
  inset 0 1px 3px rgba(46, 113, 19, 0.5);
